<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Simple React App</title>
    <link href="/static/css/styles.css" rel="stylesheet">

    <!-- babel.js for translating jsx to js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <!-- react library -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <!-- react dom library -->
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!-- react router dom library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js" integrity="sha512-NG4Cm3Ubs7d/nPyzrTFM53RP8tPjQhRT0hea48yJ/qEXsuhq7wGbjX68A5gBiW6BoCQbqE3/M+UOj2lLXPauhw==" crossorigin="anonymous"></script>
</head>
<body>
    <!-- We'll use the root div as a container for our React app -->
    <div id='root'></div>
    <!-- Put your jsx scripts at the bottom of the body -->
    <!-- Make sure your scripts are listed based on dependencies:
      For example, if component A is defined in script A, component B is defined in script B,
      and component B uses component A, then you need to list script A before script B. 
    -->
    <script type='text/jsx' src='static/js/mybutton.jsx'></script>
    <script type='text/jsx' src='static/js/books.jsx'></script>
    <script type='text/jsx' src='static/js/timer.jsx'></script>
    <script type='text/jsx' src='static/js/details.jsx'></script>
    <script type='text/jsx' src='static/js/ajax.jsx'></script>
    <script type='text/jsx' src='static/js/app.jsx'></script>
</body>
</html>
